<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom_style.css}"/>
    <meta charset="UTF-8"/>
    <title>Lista obecności</title>
</head>
<body>
<div id="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavDropdown">
                <span class="navbar-nav nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span th:text="${user}"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="#">Wyloguj się</a></li>
                    </ul>
                </span>
        </div>
    </nav>

    <h3 class="text-center">Zajęcia JavaDev<br/>
        <small>Wybierz z list zajęcia, w których brałeś udział.</small>
    </h3>
    <p class="bg-secondary text-center font-bold">Twoja obecność na zajęciach</p>


    <table class="table table-hover" >
        <thead>
        <tr>
            <th>Imie i nazwisko</th>
            <th:block th:each="lecture : ${lectures}">
                <th th:text="${lecture.lecture_date}">Header Field</th>
            </th:block>
        </tr>
        </thead>

        <tbody>
        <tr data-th-each="user : ${users}">
            <td data-th-text="${user.surname}">#</td>
        </tr>


        </tbody>
    </table>
</div>


</body>
</html>