<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom_style.css}"/>
    <meta charset="UTF-8"/>
    <title>Zajęcia JavaDev</title>
</head>
<body>
<div id="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavDropdown">
                <span class="navbar-nav nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span th:text="${user}"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="#">Wyloguj się</a></li>
                    </ul>
                </span>
        </div>
    </nav>

    <h3 class="text-center">Zajęcia JavaDev<br/>
        <small>Wybierz z list zajęcia, w których brałeś udział.</small>
    </h3>
    <p class="bg-secondary text-center font-bold">Twoja obecność na zajęciach</p>


<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Temat</th>
        <th>Miejsce</th>
        <th>Byłem</th>
        <th>Nie byłem</th>
    </tr>
    <tr data-th-each="lecture : ${lectures}">
        <td data-th-text="${lecture.lecture_id}">#</td>
        <td data-th-text="${lecture.lecture_topic}">Imię</td>
        <td data-th-text="${lecture.lecture_place}">Email</td>
        <td><form method="post" action="/home/mylectures">

            <input type="hidden" id="user_email" name="user_email" th:value="${user}"/>
            <input type="hidden" id="lecture_id" name="lecture_id" th:value="${lecture.lecture_id}"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" id="lecture_attended">Byłem</button>
        </form></td>
        <td></td>
    </tr>
</table>
</div>


</body>
</html>